[Unit]
Description=Kubernetes scheduler
Documentation=https://github.com/kubernetes/kubernetes
# After=
# Requires=
# Wants=
# Conflicts=openshift-master.service

[Service]
# Type=notify
# NotifyAccess=main
Type=simple
User=root

EnvironmentFile=/etc/sysconfig/kube-scheduler
# WorkingDirectory=/opt/kubernetes
Environment=KUBE_BUILD_VERSION=1.3.7

# ExecStart=/bin/bash -c "/opt/kubernetes/${KUBERNETES_BUILD_VERSION}/centos/bin/kube-scheduler ${KUBE_SCHEDULER_OPTS}"
ExecStart=/opt/kubernetes/server/bin/kube-scheduler $KUBE_SCHEDULER_OPTS

# Restart=always
Restart=on-failure

[Install]
WantedBy=multi-user.target

